

    h2{
      background-color: rgb(88, 88, 235) ;
      margin-bottom: 0px;
    }
p{
  background-color: rgb(175, 236, 238);
}
div{
  background-color: rgb(190, 194, 238);
  
}



  
   
